extends layout

block content
  div(class='container')
    form(action="/validateUserInfo", method="post")
      input(type='text', name='username', placeholder='username')
      br
      input(type='password', name='password', placeholder='password')
      br
      input(type='submit', value='login')
      p Not yet registered
    a(href='/register') Register here!
