extends layout

block content
  h1 Users
  br
  ul(data-role='listview', data-filter="true", data-input="#test")
    each jamppa in users_data
      li
        a(href='/jamppa/?id=#{jamppa._id}') #{jamppa.username}

  